<!-- Mục tiêu của Angular là One coponent tree -->
<app-header></app-header>
<main>
    <ul id="users">
        <li *ngFor="let item of users">
            <app-user [user]="item"
            (select)="onSelect($event)"
            [isSelected]="item.id === selectId"
            >
            </app-user>
        </li>
    </ul>

    <ng-container *ngIf="selectedUser; else notSelectUser">
        <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id"></app-tasks>
    </ng-container>
    <ng-template #notSelectUser>
        <p>Select an user</p>
    </ng-template>
</main>